body{
	font-family:arial;
}

.entete{
	box-shadow: 2px 2px 4px;
	height: 150px;

}


form {
	display: inline-block;

}

.style{
	background-color: blue; 
	text-align:center;

}


body{
	text-align:center;
	background-color:grey;
}

#button{
	display: inline-block;
	height:20px;
	width:70px;
	background-color:blue;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

.list {
	font-family:garamond;
	color:#cc0000;
}

.cocher{
	text-decoration: line-through; 
	color : white;
	background: red;
	box-shadow: 2px 2px 4px black;

}

li {
	list-style: none;
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	
}

