body{
    font-family:arial;
}
}

form {
    display: inline-block;
    
}

.style{
	background-color: orange; 
	text-align:center;

}

.style2{
	background-color:yellow;
}

body{
     text-align:center;
	background-color:green;
}

#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:blue;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

.list {
	font-family:garamond;
	color:#cc0000;
}

.cocher{
	text-decoration: line-through; 
	color : red;

}

li {
	list-style: none;
	
}